<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi Hardik,</h4>
    <p> You have one visitor and his/her details as below <br>
    </p>
    <p>Name: <%= @name%></p>
    <p>Email: <%= @email%></p>
    <p>Message: <%= @message%></p>
  </body>
</html>